@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  color: #3c3c3c;
  box-sizing: border-box;
  letter-spacing: 1px;
  word-spacing: 1px;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

svg {
  width: 24px;
  height: 24px;
  fill: black;
}